<%- title "#{params[:name]}_目录_文章列表." -%>

<%
    #for seo
    breadcrumb :list, '分类：'<< params[:name]
    meta  :description => "目录：'#{params[:name]}'下的文章列表" , :keywords => "#{params[:name]}"

%>
<div class="container">

  <%- if @topics && @topics.length > 0 -%>
    <%= render(:partial => "share/list", :object => @topics) %>
    <%= paginate @topics, :outer_window => 4, :inner_window => 4 -%>
  <%- else -%>
  <p>没有内容。.</p>
  <%- end -%>
</div>
