// Post
section .class-list {
  margin-bottom: 6em;
  
  header {
    p {
      color: #949494;
      font-size: 0.9em;
      margin-bottom: 0.25em;
      
      a {
        color: #006699;
        border: 0;
      }
    }
  }
  div.class-c{

  }
  div.neirong{
    font-size:100%;
    line-heigt: 26px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    background: #C3D9FF;
    height: 26px;
    text-indent: 20px;
  }

  ul, ol {
      display:block;

    margin: 0 0 2em 0.5em;
    list-style: none;
    li {
      margin-left: 1em;
      margin-bottom: 0.6em;



      a{
        color: blue;


        &:hover{
            color: red;
        }
      }
    }
  }
  
  ul li {
    list-style: disc;
    float: left;
    list-style: none;
    width: 210px;
    background: url(/assets/le.gif) 0 -46px no-repeat;
    padding-left: 8px;
    line-height: 30px;
  }


}

