.head{
    width: 100%;
    height: 80px;
    background: white;
    text-align: center;
    margin: 0px;

    .logo{
        width: 960px;
        height: 55px;
        margin: auto;
        margin-top: 5px;
        text-align: left;
    }
}

#a1{
    height: 55px;
}

#t {
    width: 100%;
    height: 21px;
    background: #F7F7F7;
    border-bottom: 1px solid #CCC;
    clear: both;
    #topall{
    height: 22px;
    overflow: hidden;
    width: 960px;
    display: inline-block;
    font-size: 75%;

    .top_left{ display: block; float:left;}
    .top_right{display: block; float:right;}

}
}


#top{
    float:left;
    height: 50px;
    padding-top: 5px;
    overflow: hidden;
    position: relative;
    width: 200px;
    font-weight: bolder;
    clear:right;
    background: url(/assets/lehazi.png) 0 0px no-repeat;
    a.logo {
        font-size: 2em;
        color: #266392;
        line-height: 1.1em;

        position: absolute;
        left: 0;
        top: 0;

        }
    span{
        margin-left: 30px;
        font-size: 12px;
        font-family: 宋体;
        color: blue;
        margin:0 0 0 30px ;
        padding: 0;

    }
}
#top-center{
    float:left;
    height: 50px;
}
#search{
    display:block;
    float: right;

    form{
        display: block;

        height: 26px;

    }
    .su{
        float: right;
        width: 60px;
        height: 23px;

        cursor: pointer;
    }
    .q{
        float: right;
        width: 300px;
        height: 23px;
        padding: 0px 10px 0 7px;
        border: 1px solid #DDD;
        background: white ;

    }
    span{
        display:block;
        height: 22px;
        float:right;
        font-size:75%;
        color: gray;
    }
}

#nav{
    height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #007AC4 ;
    clear: both;
    .lable{
        width: 960px;
        height: 100%;
        margin: auto;
        font: 14px bold;
        color: black;
    }
    ul{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin: 0;
            float: left;
            background: url(/assets/nav_li.gif) right no-repeat;
            padding: 0 5px;
            position: relative;

            a{
                margin: 0;
                padding: 0;
                display: block;
                height: 30px;
                line-height: 30px;
                width: 77px;
                text-align: center;
                color: white;
                text-decoration: none;

                &:hover {
                    border-bottom: 0px solid;
                }
            }
        }
    }

    .current-menu-item a, .current-menu-parent a {
        font-weight: 700;
        color: #017DC8;
        background: white url(/assets/nav_hover.png) no-repeat;

        &:hover {
            border-bottom: 0px solid;
        }
     }

}

div.home {
  width: 960px;
  padding: 0;
  margin: 0 auto;
  background: #F5F9FA;
  margin-bottom: 30px;

  h2 {
    margin-top: 1.7em;
    
    a {
      color: #000;
      
      &:hover {
      color: $link-color;
      }
    }  
  }
  #left{

    width: 688px;
    height: auto;
    float: left;
    overflow: hidden;

    #solehazi {
        text-align: left;
        border: 1px solid #EEF;
        background: white;
        padding-left:10px;
        line-height: 20px;
        span{
            display: block;
            display: inline;
            margin: 0 auto;
            font-size: 12px;
            font-family: 宋体;
            color: #666;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .forum_list{
        float: left;
        width: 686px;
        margin-top: 10px;
        border: 1px solid #EEF;
        h3{
            font-size: 14px;
            color: #333;
            line-height: 24px;
            padding-left: 20px;
            //background: url(/assets/le.gif) 2px 2px no-repeat;
            //background-color: #FFF;
        }
        a {
          color: #0881B3;
          &:hover {text-decoration:underline; border:0;}
        }
        ul{
            padding: 10px;
            li{
              width: 150px;
              overflow:hidden;
              height: 24px;
              font-size: 12px;
              float:left;
              margin: 0 5px;
              padding: 0px 3px;
            }
        }

    }
    .show_list{
        width: 686px;
        border: 1px solid #C7DEEC;
        text-align: left;
        padding: 0px;
        margin-top: 10px;
        background-color: white;
        h3{
            font-size: 14px;
            color: #333;
            line-height: 28px;
            padding-left: 20px;
            //background: url(/assets/le.gif) 2px 2px no-repeat;
            background-color: #CFE5F7;
            a{
             font-size: 12px;
             text-decoration: underline;
            }
        }

        a {
          color: #0881B3;
          &:hover {text-decoration:underline; border:0;}
        }
        ul {
        clear: both;
        padding: 10px;
            li{
            font-size: 12px;
            }
        }
    }
    .modul {
    width: 688px;
    border: 1px solid #CFE5F7;
    text-align: left;
        thead tr {
        height: 28px;
        font-size: 14px;
        color: #333;
        line-height: 28px;
        //background: url(/assets/le.gif) 2px 2px no-repeat;
        background-color: #CFE5F7;
        }
        thead td {
        padding-left: 20px;
        height: 0;
        }
        tbody td {
        padding: 10px;
        vertical-align: top;
        }
        .left_M {
        width: 320px;
        height: 28px;
             a{
             font-size: 12px;
             text-decoration: underline;
            }
        }
        .right_M {
        width: 355px;
        height: 28px;
             a{
             font-size: 12px;
             text-decoration: underline;
            }
        }
        ul {
        clear: both;
        margin-top: 0px;
        padding-top: 0px;
            li{
            font-size: 12px;
            }
        }
         a {
          color: #0881B3;
          &:hover {text-decoration:underline; border:0;}
        }
    }


  }


  #right{
    width: 260px;
    height: auto;
    float: left;
    margin-left: 12px;
    overflow: hidden;

    .blog_link{
      display:block;
      margin-top:10px; width:258px;
      height:74px; border:1px solid #8fb9d0;
      background:url(/assets/myblog.png) 1px 1px no-repeat;
    }
    .whatis {
        width: 257px;
        height: 99px;
        border: 1px solid #C4DF8F;
        background-color: #EDFCD8;
         .tit {
            margin: 10px 10px 0 10px;
            text-align: left;
            font-size: 14px;
            color: #A7C658;
            line-height: 20px;
            }
         .txtcontent {
            margin: 10px;
            text-align: left;
            font-size: 12px;
            color: #666;
            line-height: 22px;
            }
         .button {
            display: block;
            width: 60px;
            height: 16px;
            background: url(/assets/my_ico.png) -32px -16px no-repeat;
            float: right;
            margin-right: 15px;
            margin-right: 15px;
            _margin-right: 8px;
            cursor: pointer;
            text-indent: 18px;
            line-height: 16px;
            text-decoration: none;
            }
            .button2 {
            display: block;
            width: 73px;
            height: 16px;
            background: url(/assets/my_ico.png) -32px 0px no-repeat;
            float: right;
            margin-right: 15px;
            margin-right: 15px;
            _margin-right: 8px;
            cursor: pointer;
            text-indent: 18px;
            line-height: 16px;
            text-decoration: none;
            }
    }
    .recommend{
        width: 258px;
        border: 1px solid #C4DF8F;
        margin: 0;
        padding: 0;
        background-color: #EDFCD8;
        text-align: left;

        .tit {
        float: left;
        font-size: 14px;
        line-height: 22px;
        color: #A7C658;
        }
        .more {
        float: right;
        font-size: 12px;
        line-height: 22px;
        font-family: 宋体;
         a {
            text-decoration: none;
            color: #1C5504;
            }
        }
        td {
        padding: 5px 10px;
        }

        .list {
        list-style: none;
        clear: both;
        font-size: 12px;
        line-height: 26px;
        text-align: left;
        margin: 0px;
        padding: 0px;
            li {
            clear: both;
            height: 26px;
                a {
                display: block;
                float: left;
                clear: right;
                width: 210px;
                margin-left: 3px;
                _margin-left: 0;
                padding: 0px;
                text-decoration: none;
                font-size: 12px;
                line-height: 26px;
                color: #1C5504;

                &:hover {text-decoration:underline; border:0;}
                }
            }
             span {
            display: block;
            float: left;
            clear: left;
            width: 10px;
            margin: 0px;
            padding: 0px;
            }
        }
        .button {
        width: 88px;
        height: 21px;
        float: right;
        background: url(/assets/mix_main.png) 0 0 no-repeat;
        font-size: 12px;
        line-height: 21px;
        vertical-align: middle;
        text-align: center;
        padding-left: 8px;
        margin-bottom: 10px;
         a {
            text-decoration: none;
            color: #5C5C5C;
            }
        }
    }

    ul{
       //padding: 5px 10px 10px 10px;
        li{
            font-family: 宋体;
            list-style: none;
            border-bottom: 1px dashed #BBDAF7;
        }
    }
  }
}
div.flink {
    border: 1px solid #DDD;
    width: 958px;
    margin: 0 auto;
    padding-bottom: 10px;
        h3 {
        font-size: 14px;
        color: #333;
        line-height: 22px;
        padding-left: 10px;

        }
        .fldiv {
        padding: 5px;
        padding-right: 0;
        }
        ul{
            clear:both;
            display: block;

            li{
            float: left;
            text-align: left;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            margin: 0;
            width: 85px;
            a {
                font-size: 12px;
                color: #333;
                }
            }
        }
}

div.footer{
  border-top: 1px solid #ddd;
  width: $width;
  color: #666;

  font-size: 12px;
  text-align: center;
  margin: 1.5em auto;

  a {
    color: #666;

    &:hover {
      color: $link-color;
    }
  }
  p.link {
    text-align: left;
  }
}