section.post-list {
    background-color: ghostWhite;
    border: 1px solid #DEDEDE;
    color: #444;
    line-height: 1.2em;

    table {
      border-collapse:separate;
      border-spacing:0;
      margin-bottom:1.4em;
      width:100%;
      thead th {
          background:#c3d9ff;
          font-weight:bold;
          }


      caption, th, td {
          text-align:left;
          font-weight:normal;
          float:none !important;
          }

      tbody tr:nth-child(even) td, tbody tr.even td {
          background:#e5ecf9;
          }
      a {
          color: blue;
        }

    }
}

section.page-list{
    .pages{
    background: white;
    clear: both;
    padding-bottom: 20px;

        ul{
            padding: 5px;
        li.caied{
          border: 5px solid #FFFFFF;
          height: 50px;
          overflow: auto;
          float: left;
          background: #C3D9FF;
          text-align: center;
        }
        li.nocai {
          border: 5px solid #FFFFFF;
          height: 50px;
          overflow: auto;
          float: left;
          background: #DDDDDD;
          text-align: center;
        }
    }
    }

}

