<% title "#{@topic.title} by #{@topic.author}." %>

<h2><%=	 link_to  @topic.title, p_pu_path(@topic.id, 1)%></h2>
<p>作者：<%=	 @topic.author %></p>

<br />
<%=	 link_to '阅读文章', p_pu_path(@topic.id, 1)%>
