@charset "UTF-8";
section, header, footer, nav, article, aside, figure {
  display: block; }

mark, time, meter, progress {
  display: inline; }

html {
  -webkit-font-smoothing: antialiased; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  color: #266392; }

body {
  color: #222222;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5em;
  background: #F5F9FA; }

input {
  line-height: 1em; }

a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 0px solid transparent; }
  a:hover {
    border-bottom: 0px solid; }

em {
  font-family: "宋体"; }

i {
  font-style: italic; }

abbr {
  border-bottom: 1px dashed;
  cursor: help; }

p {
  margin: 0 0 1em; }

hr {
  margin-bottom: 2em;
  border: 0; }

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em; }
  blockquote a {
    color: #444; }
    blockquote a:hover {
      color: #0881b3; }

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em; }
  small a {
    color: #444; }
    small a:hover {
      color: #2e80d3; }

pre {
  background-color: ghostwhite;
  border: 1px solid #dedede;
  color: #444;
  font-family: Monaco, Courier, monospace;
  font-size: 13px;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em; }
  pre code {
    background-color: ghostwhite;
    border: medium none;
    font-size: 1em;
    padding: 0; }

code {
  background-color: ghostwhite;
  border: 1px solid #dedede;
  color: #444;
  padding: 0 0.2em;
  font-family: Monaco, Courier, monospace;
  font-size: 0.8em; }

h1 {
  color: #069;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.25em;
  line-height: 1em; }
  h1 a {
    color: #f6291d;
    border: 0; }
    h1 a:hover {
      text-decoration: underline; }

h2 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  font-weight: 700; }
  h2 a {
    color: #222222;
    border: 0; }

h3 {
  font-size: 1em;
  font-weight: bold; }

h4 {
  color: #999;
  font-weight: bold;
  margin-bottom: 0.2em; }

label, strong, b {
  font-weight: bold; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  ul li {
    font-family: 宋体;
    line-height: 24px;
    list-style: none; }

ul.cl li {
  float: left;
  margin: 10px; }

cite {
  display: none;
  text-indent: -999px; }

.title, .title3, .title_r {
  clear: both;
  _display: inline-block;
  padding: 0 0 6px 0;
  border-bottom: 1px dotted #CDCDCD;
  color: #313131;
  position: relative;
  overflow: hidden; }

.title span {
  line-height: 16px;
  font-size: 75%;
  position: absolute;
  right: 0;
  top: 5px;
  font-family: "宋体"; }

.blank5, .blank10, .blank20, .blank30, .blank40, .blank50, .blank60, .blank70, .blank80, .blank90, .blank100 {
  clear: both;
  height: 3px;
  line-height: 0;
  font-size: 0;
  overflow: hidden; }

.ml10 {
  margin-left: 10px; }

.right {
  float: right; }

.blank20 {
  height: 20px; }

.mb7 {
  margin-bottom: 7px; }

.title h3 {
  height: 17px;
  font-size: 14px;
  color: #313131; }

div.ggw960 {
  text-align: center;
  margin: 2px auto;
  width: 960px; }

div.ggw728 {
  text-align: center;
  margin: 2px auto;
  width: 900px; }

body > header, body > section, body > footer {
  font-size: 85%;
  width: 960px;
  margin: 0 auto; }

body > header {
  color: #222;
  margin: 0em auto; }
  body > header img {
    border: 0px; }
  body > header div.menu {
    float: right;
    line-height: 20px;
    font-size: 80%;
    background-image: url("topnav_bg.gif"); }
    body > header div.menu a.nav {
      color: #09C;
      font-weight: bold;
      display: block;
      margin: 0 0.5em;
      float: left; }
      body > header div.menu a.nav:hover {
        color: #f6291d; }
  body > header p {
    margin: 0; }
    body > header p a {
      color: #73acd6; }
      body > header p a:hover {
        color: #0881b3; }
    body > header p a.nav {
      color: blue;
      text-decoration: underline;
      margin-left: 12px; }
      body > header p a.nav:hover {
        color: #f6291d; }

div.main {
  font-size: 85%;
  width: 960px;
  margin: 0 auto; }
  div.main h1 {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    font-weight: bold;
    margin: 0.2em 0; }

#headerAll {
  background: url(/assets/header_bg.jpg) left top repeat-x; }

#wrapper {
  background: white url(/assets/wrapper_bg.jpg) left top repeat-x; }

.index_bg {
  background: url(/assets/index_center.jpg) left top repeat-y; }

.title_r {
  margin: 10px 3px 10px 8px;
  border-bottom: 1px dashed #DDD;
  font-size: 14px;
  text-indent: 2px; }

#control_pannel {
  background: #F7F7F7 none repeat scroll 0 0;
  border: 2px solid #EFEFEF;
  bottom: 2px;
  padding: 1px;
  position: fixed;
  _position: absolute;
  right: 272px;
  width: 80px;
  font-size: 12px; }
  #control_pannel a {
    display: block;
    color: red;
    padding: 2px 4px 2px 4px;
    text-align: center;
    opacity: .30;
    filter: alpha(Opacity=30);
    text-decoration: none; }
    #control_pannel a:hover {
      background: #999999;
      color: white;
      text-decoration: none;
      opacity: 1;
      filter: alpha(Opacity=80); }

body > footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 960px;
  color: #aaa;
  font-size: 0.8em;
  text-align: center;
  margin: 3em auto; }
  body > footer a {
    color: #aaa; }
    body > footer a:hover {
      color: #0881b3; }
  body > footer p.link {
    text-align: left; }

nav.pagination {
  text-align: center;
  margin: 0 0 1em;
  border-bottom: 1px solid #DEDEDE;
  background: #DEDEDE; }
  nav.pagination a {
    padding: 2px 6px;
    margin-right: 0.2em;
    text-decoration: none;
    border: 0; }
  nav.pagination a:hover {
    text-decoration: none;
    background: #0881b3;
    border-color: #0881b3;
    color: white;
    text-shadow: none; }
  nav.pagination a[rel=next]:hover, nav.pagination a[rel=prev]:hover {
    background: none;
    text-decoration: underline;
    color: #0881b3; }
  nav.pagination span {
    padding: 2px 6px;
    margin-right: 0.2em; }
  nav.pagination span.gap {
    padding: 2px;
    color: #676767; }
  nav.pagination span.disabled {
    color: #aaa; }
  nav.pagination em {
    padding: 4px 8px; }

.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k, .highlight .o, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
    font-weight: bold; }
  .highlight .cm, .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
    .highlight .gd .x {
      color: #000;
      background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr, .highlight .gt {
    color: #a00; }
  .highlight .gh, .highlight .bp {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
    .highlight .gi .x {
      color: #000;
      background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp, .highlight .nn {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne, .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nt {
    color: #000080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
    color: #099; }
  .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .na, .highlight .no, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #008080; }

#headerAll {
  min-width: 910px;
  height: 80px;
  margin-bottom: 1px; }

#header {
  margin: 0 auto;
  width: 904px;
  height: 80px;
  padding-right: 6px;
  position: relative;
  z-index: 10000; }
  #header #top {
    height: 50px;
    overflow: hidden; }
    #header #top a.logo {
      width: 330px;
      height: 55px;
      position: absolute;
      left: 0;
      top: 0; }
    #header #top .right_info {
      float: right;
      padding: 10px 0 0 0;
      color: #333;
      text-align: right; }
      #header #top .right_info li {
        float: left;
        line-height: 19px;
        *line-height: 22px;
        _line-height: 19px;
        display: block;
        padding: 0 0 0 9px;
        position: relative; }
        #header #top .right_info li .cent {
          height: 19px;
          line-height: 19px;
          margin-left: 0;
          padding: 0 3px 0 8px;
          text-align: center;
          background-color: #a7cce8;
          background-repeat: no-repeat;
          background-position: -550px -161px; }
          #header #top .right_info li .cent .l {
            color: #f65645; }
            #header #top .right_info li .cent .l a, #header #top .right_info li .cent .l a:hover {
              color: #f65645;
              text-decoration: none; }
          #header #top .right_info li .cent .m {
            color: #fd9526; }
            #header #top .right_info li .cent .m a, #header #top .right_info li .cent .m a:hover {
              color: #fb8405;
              text-decoration: none; }
          #header #top .right_info li .cent .h {
            color: #50901d; }
            #header #top .right_info li .cent .h a {
              color: #50901d;
              text-decoration: none; }
        #header #top .right_info li a {
          color: #333; }
        #header #top .right_info li b {
          width: 8px;
          height: 4px;
          margin-left: 6px;
          position: absolute;
          top: 8px;
          z-index: 1;
          background-repeat: no-repeat;
          background-position: -903px -135px; }
        #header #top .right_info li .pr {
          padding-right: 15px;
          cursor: pointer; }

#index_top {
  background: url("/assets/blog_back.png") 0 -1px no-repeat; }

#index_bottom {
  background: url("/assets/blog_back.png") 0 -14px no-repeat; }

#index_top, #index_bottom {
  margin: 0 auto;
  width: 910px;
  height: 6px;
  overflow: hidden;
  background-repeat: no-repeat; }

.page_view {
  padding: 0 15px 0 25px;
  line-height: 24px;
  font-size: 14px;
  overflow: hidden; }

.ta_c {
  text-align: center; }

.f16 {
  font-size: 16px; }

.mb10 {
  margin-bottom: 10px; }

.mt10 {
  margin-top: 10px; }

.tool_list li {
  float: left;
  width: 249px;
  line-height: 17px;
  padding: 3px 0 6px; }

.friend_group {
  float: left;
  width: 249px;
  margin-top: 5px;
  position: relative; }
  .friend_group li {
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 10px 0 0 1px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .friend_group li .col {
      height: auto;
      color: #266392;
      overflow: visible;
      white-space: normal; }

#header #menu {
  float: left;
  width: 750px;
  height: 24px;
  color: #fff;
  overflow: hidden; }

#header #menu li {
  float: left;
  display: inline;
  margin-right: 30px; }

#header #menu li a {
  float: left;
  width: 100px;
  height: 24px;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-decoration: none; }

#header a.toolbox {
  float: right;
  width: 112px;
  height: 26px;
  line-height: 26ppx;
  margin: 6px 0 0 0;
  text-align: center;
  color: #4277a0;
  cursor: pointer;
  font-family: "微软雅黑";
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: -420px -135px; }

.toolbox_menu {
  width: 112px;
  margin: 5px 0 0 7px;
  position: absolute;
  right: 6px;
  top: 88px;
  z-index: 1024; }

#wrapper {
  min-width: 910px;
  padding-top: 10px;
  overflow: hidden; }

#container {
  margin: 0 auto;
  width: 910px;
  overflow: hidden;
  position: relative; }

#content, #content1 {
  float: left;
  width: 620px;
  overflow: hidden; }

#content1 {
  padding-left: 5px; }

#sidebar, #sidebar1 {
  float: right;
  width: 250px;
  padding: 15px 20px 0 15px;
  overflow: hidden; }

#sidebar1 {
  width: 285px;
  padding: 0; }

#sidebar h1 {
  float: left;
  width: 209px;
  height: 25px;
  padding: 8px 0 0 11px;
  margin: 30px 0 20px 0;
  overflow: hidden;
  background-position: 0 -440px; }

#sidebar h1 b {
  float: left;
  width: 70px;
  height: 18px;
  overflow: hidden; }

#sidebar h1 b.microblog {
  background-position: 0 -482px; }

#sidebar h1 b.classify {
  background-position: -94px -482px; }

#sidebar h1 b.tags {
  background-position: 0 -507px; }

#sidebar h1 b.links {
  background-position: -94px -507px; }

#sidebar h1 b.selfabout {
  background-position: 0 -532px; }

#sidebar h1 b.userdetail {
  background-position: 0 -556px; }

#sidebar h1 b.selfmanage {
  background-position: -94px -532px; }

.head {
  width: 100%;
  height: 80px;
  background: white;
  text-align: center;
  margin: 0px; }
  .head .logo {
    width: 960px;
    height: 55px;
    margin: auto;
    margin-top: 5px;
    text-align: left; }

#a1 {
  height: 55px; }

#t {
  width: 100%;
  height: 21px;
  background: #F7F7F7;
  border-bottom: 1px solid #CCC;
  clear: both; }
  #t #topall {
    height: 22px;
    overflow: hidden;
    width: 960px;
    display: inline-block;
    font-size: 75%; }
    #t #topall .top_left {
      display: block;
      float: left; }
    #t #topall .top_right {
      display: block;
      float: right; }

#top {
  float: left;
  height: 50px;
  padding-top: 5px;
  overflow: hidden;
  position: relative;
  width: 200px;
  font-weight: bolder;
  clear: right;
  background: url(/assets/lehazi.png) 0 0px no-repeat; }
  #top a.logo {
    font-size: 2em;
    color: #266392;
    line-height: 1.1em;
    position: absolute;
    left: 0;
    top: 0; }
  #top span {
    margin-left: 30px;
    font-size: 12px;
    font-family: 宋体;
    color: blue;
    margin: 0 0 0 30px;
    padding: 0; }

#top-center {
  float: left;
  height: 50px; }

#search {
  display: block;
  float: right; }
  #search form {
    display: block;
    height: 26px; }
  #search .su {
    float: right;
    width: 60px;
    height: 23px;
    cursor: pointer; }
  #search .q {
    float: right;
    width: 300px;
    height: 23px;
    padding: 0px 10px 0 7px;
    border: 1px solid #DDD;
    background: white; }
  #search span {
    display: block;
    height: 22px;
    float: right;
    font-size: 75%;
    color: gray; }

#nav {
  height: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  background: #007ac4;
  clear: both; }
  #nav .lable {
    width: 960px;
    height: 100%;
    margin: auto;
    font: 14px bold;
    color: black; }
  #nav ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0; }
    #nav ul li {
      margin: 0;
      float: left;
      background: url(/assets/nav_li.gif) right no-repeat;
      padding: 0 5px;
      position: relative; }
      #nav ul li a {
        margin: 0;
        padding: 0;
        display: block;
        height: 30px;
        line-height: 30px;
        width: 77px;
        text-align: center;
        color: white;
        text-decoration: none; }
        #nav ul li a:hover {
          border-bottom: 0px solid; }
  #nav .current-menu-item a, #nav .current-menu-parent a {
    font-weight: 700;
    color: #017DC8;
    background: white url(/assets/nav_hover.png) no-repeat; }
    #nav .current-menu-item a:hover, #nav .current-menu-parent a:hover {
      border-bottom: 0px solid; }

div.home {
  width: 960px;
  padding: 0;
  margin: 0 auto;
  background: #F5F9FA;
  margin-bottom: 30px; }
  div.home h2 {
    margin-top: 1.7em; }
    div.home h2 a {
      color: #000; }
      div.home h2 a:hover {
        color: #0881b3; }
  div.home #left {
    width: 688px;
    height: auto;
    float: left;
    overflow: hidden; }
    div.home #left #solehazi {
      text-align: left;
      border: 1px solid #EEF;
      background: white;
      padding-left: 10px;
      line-height: 20px; }
      div.home #left #solehazi span {
        display: block;
        display: inline;
        margin: 0 auto;
        font-size: 12px;
        font-family: 宋体;
        color: #666;
        text-align: center;
        cursor: pointer;
        text-decoration: none; }
    div.home #left .forum_list {
      float: left;
      width: 686px;
      margin-top: 10px;
      border: 1px solid #EEF; }
      div.home #left .forum_list h3 {
        font-size: 14px;
        color: #333;
        line-height: 24px;
        padding-left: 20px; }
      div.home #left .forum_list a {
        color: #0881B3; }
        div.home #left .forum_list a:hover {
          text-decoration: underline;
          border: 0; }
      div.home #left .forum_list ul {
        padding: 10px; }
        div.home #left .forum_list ul li {
          width: 150px;
          overflow: hidden;
          height: 24px;
          font-size: 12px;
          float: left;
          margin: 0 5px;
          padding: 0px 3px; }
    div.home #left .show_list {
      width: 686px;
      border: 1px solid #C7DEEC;
      text-align: left;
      padding: 0px;
      margin-top: 10px;
      background-color: white; }
      div.home #left .show_list h3 {
        font-size: 14px;
        color: #333;
        line-height: 28px;
        padding-left: 20px;
        background-color: #CFE5F7; }
        div.home #left .show_list h3 a {
          font-size: 12px;
          text-decoration: underline; }
      div.home #left .show_list a {
        color: #0881B3; }
        div.home #left .show_list a:hover {
          text-decoration: underline;
          border: 0; }
      div.home #left .show_list ul {
        clear: both;
        padding: 10px; }
        div.home #left .show_list ul li {
          font-size: 12px; }
    div.home #left .modul {
      width: 688px;
      border: 1px solid #CFE5F7;
      text-align: left; }
      div.home #left .modul thead tr {
        height: 28px;
        font-size: 14px;
        color: #333;
        line-height: 28px;
        background-color: #CFE5F7; }
      div.home #left .modul thead td {
        padding-left: 20px;
        height: 0; }
      div.home #left .modul tbody td {
        padding: 10px;
        vertical-align: top; }
      div.home #left .modul .left_M {
        width: 320px;
        height: 28px; }
        div.home #left .modul .left_M a {
          font-size: 12px;
          text-decoration: underline; }
      div.home #left .modul .right_M {
        width: 355px;
        height: 28px; }
        div.home #left .modul .right_M a {
          font-size: 12px;
          text-decoration: underline; }
      div.home #left .modul ul {
        clear: both;
        margin-top: 0px;
        padding-top: 0px; }
        div.home #left .modul ul li {
          font-size: 12px; }
      div.home #left .modul a {
        color: #0881B3; }
        div.home #left .modul a:hover {
          text-decoration: underline;
          border: 0; }
  div.home #right {
    width: 260px;
    height: auto;
    float: left;
    margin-left: 12px;
    overflow: hidden; }
    div.home #right .blog_link {
      display: block;
      margin-top: 10px;
      width: 258px;
      height: 74px;
      border: 1px solid #8fb9d0;
      background: url(/assets/myblog.png) 1px 1px no-repeat; }
    div.home #right .whatis {
      width: 257px;
      height: 99px;
      border: 1px solid #C4DF8F;
      background-color: #EDFCD8; }
      div.home #right .whatis .tit {
        margin: 10px 10px 0 10px;
        text-align: left;
        font-size: 14px;
        color: #A7C658;
        line-height: 20px; }
      div.home #right .whatis .txtcontent {
        margin: 10px;
        text-align: left;
        font-size: 12px;
        color: #666;
        line-height: 22px; }
      div.home #right .whatis .button {
        display: block;
        width: 60px;
        height: 16px;
        background: url(/assets/my_ico.png) -32px -16px no-repeat;
        float: right;
        margin-right: 15px;
        margin-right: 15px;
        _margin-right: 8px;
        cursor: pointer;
        text-indent: 18px;
        line-height: 16px;
        text-decoration: none; }
      div.home #right .whatis .button2 {
        display: block;
        width: 73px;
        height: 16px;
        background: url(/assets/my_ico.png) -32px 0px no-repeat;
        float: right;
        margin-right: 15px;
        margin-right: 15px;
        _margin-right: 8px;
        cursor: pointer;
        text-indent: 18px;
        line-height: 16px;
        text-decoration: none; }
    div.home #right .recommend {
      width: 258px;
      border: 1px solid #C4DF8F;
      margin: 0;
      padding: 0;
      background-color: #EDFCD8;
      text-align: left; }
      div.home #right .recommend .tit {
        float: left;
        font-size: 14px;
        line-height: 22px;
        color: #A7C658; }
      div.home #right .recommend .more {
        float: right;
        font-size: 12px;
        line-height: 22px;
        font-family: 宋体; }
        div.home #right .recommend .more a {
          text-decoration: none;
          color: #1C5504; }
      div.home #right .recommend td {
        padding: 5px 10px; }
      div.home #right .recommend .list {
        list-style: none;
        clear: both;
        font-size: 12px;
        line-height: 26px;
        text-align: left;
        margin: 0px;
        padding: 0px; }
        div.home #right .recommend .list li {
          clear: both;
          height: 26px; }
          div.home #right .recommend .list li a {
            display: block;
            float: left;
            clear: right;
            width: 210px;
            margin-left: 3px;
            _margin-left: 0;
            padding: 0px;
            text-decoration: none;
            font-size: 12px;
            line-height: 26px;
            color: #1C5504; }
            div.home #right .recommend .list li a:hover {
              text-decoration: underline;
              border: 0; }
        div.home #right .recommend .list span {
          display: block;
          float: left;
          clear: left;
          width: 10px;
          margin: 0px;
          padding: 0px; }
      div.home #right .recommend .button {
        width: 88px;
        height: 21px;
        float: right;
        background: url(/assets/mix_main.png) 0 0 no-repeat;
        font-size: 12px;
        line-height: 21px;
        vertical-align: middle;
        text-align: center;
        padding-left: 8px;
        margin-bottom: 10px; }
        div.home #right .recommend .button a {
          text-decoration: none;
          color: #5C5C5C; }
    div.home #right ul li {
      font-family: 宋体;
      list-style: none;
      border-bottom: 1px dashed #BBDAF7; }

div.flink {
  border: 1px solid #DDD;
  width: 958px;
  margin: 0 auto;
  padding-bottom: 10px; }
  div.flink h3 {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding-left: 10px; }
  div.flink .fldiv {
    padding: 5px;
    padding-right: 0; }
  div.flink ul {
    clear: both;
    display: block; }
    div.flink ul li {
      float: left;
      text-align: left;
      height: 22px;
      line-height: 22px;
      overflow: hidden;
      margin: 0;
      width: 85px; }
      div.flink ul li a {
        font-size: 12px;
        color: #333; }

div.footer {
  border-top: 1px solid #ddd;
  width: 960px;
  color: #666;
  font-size: 12px;
  text-align: center;
  margin: 1.5em auto; }
  div.footer a {
    color: #666; }
    div.footer a:hover {
      color: #0881b3; }
  div.footer p.link {
    text-align: left; }

.random {
  float: left; }
  .random ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .random ul li {
      float: left;
      margin: 0  2em 0 0;
      padding: 0;
      list-style: none; }

section article {
  margin-bottom: 6em; }
  section article header p {
    color: #949494;
    font-size: 0.9em;
    margin-bottom: 0.25em; }
    section article header p a {
      color: #006699;
      border: 0; }
  section article ul, section article ol {
    margin: 0 0 2em 0.5em; }
    section article ul li, section article ol li {
      margin-left: 1em; }
  section article ul li {
    list-style: disc; }
  section article ol li {
    list-style: decimal; }
  section article ol li ol li {
    list-style: lower-alpha; }
  section article div.video.wide.youtube {
    height: 372px; }
  section article div.video.wide.vimeo {
    height: 360px; }
  section article img {
    max-width: 100%; }
  section article a.bordered-image {
    float: left;
    margin: 0.25em 0.5em 0.5em 0; }

div.social {
  overflow: hidden; }
  div.social iframe#facebook-like-button {
    width: 294px; }

nav.posts {
  display: inline-block;
  margin: 1em 0 0;
  width: 100%; }
  nav.posts:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  nav.posts li {
    display: block;
    width: 44%; }
  nav.posts li.previous {
    float: left; }
  nav.posts li.next {
    float: right;
    text-align: right; }

div.gist div.gist-file div.gist-meta {
  padding: 0.5em;
  font-size: 0.6em;
  line-height: 1em; }

a.tag {
  word-wrap: nowrap; }

a.tag:before {
  content: "#"; }

div.tags {
  text-align: center;
  margin-bottom: 3em; }
  div.tags a {
    margin: 5px;
    word-wrap: nowrap;
    line-height: 1.5em; }
  div.tags .nube1 {
    font-size: 1em; }
  div.tags .nube2 {
    font-size: 1.2em; }
  div.tags .nube3 {
    font-size: 1.4em; }
  div.tags .nube4 {
    font-size: 1.6em; }
  div.tags .nube5 {
    font-size: 1.8em; }
  div.tags .nube6 {
    font-size: 2em; }

.social-share-button-douban {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px 0px no-repeat; }

.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px 0px no-repeat; }

.social-share-button-qq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -16px no-repeat; }

.social-share-button-twitter {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -16px no-repeat; }

.social-share-button-weibo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px 0px no-repeat; }

a#portrait {
  float: left;
  width: 300px;
  height: 300px;
  margin: 0.5em 1em 0.5em 0; }
  a#portrait img {
    width: 300px;
    height: 300px; }

section .class-list {
  margin-bottom: 6em; }
  section .class-list header p {
    color: #949494;
    font-size: 0.9em;
    margin-bottom: 0.25em; }
    section .class-list header p a {
      color: #006699;
      border: 0; }
  section .class-list div.neirong {
    font-size: 100%;
    line-heigt: 26px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    background: #C3D9FF;
    height: 26px;
    text-indent: 20px; }
  section .class-list ul, section .class-list ol {
    display: block;
    margin: 0 0 2em 0.5em;
    list-style: none; }
    section .class-list ul li, section .class-list ol li {
      margin-left: 1em;
      margin-bottom: 0.6em; }
      section .class-list ul li a, section .class-list ol li a {
        color: blue; }
        section .class-list ul li a:hover, section .class-list ol li a:hover {
          color: red; }
  section .class-list ul li {
    list-style: disc;
    float: left;
    list-style: none;
    width: 210px;
    background: url(/assets/le.gif) 0 -46px no-repeat;
    padding-left: 8px;
    line-height: 30px; }

section.post-list {
  background-color: ghostWhite;
  color: #444;
  line-height: 1.2em; }
  section.post-list table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 1.4em;
    width: 100%; }
    section.post-list table thead th {
      background: #c3d9ff;
      font-weight: bold;
      line-height: 2em; }
    section.post-list table caption, section.post-list table th, section.post-list table td {
      text-align: left;
      font-weight: normal;
      float: none !important; }
    section.post-list table tbody tr:nth-child(even) td, section.post-list table tbody tr.even td {
      background: #e5ecf9; }
    section.post-list table a {
      color: blue; }

section.page-list .pages {
  background: white;
  clear: both;
  padding-bottom: 20px; }
  section.page-list .pages ul {
    padding: 5px; }
    section.page-list .pages ul li.caied {
      border: 5px solid #FFFFFF;
      height: 50px;
      overflow: auto;
      float: left;
      background: #C3D9FF;
      text-align: center; }
    section.page-list .pages ul li.nocai {
      border: 5px solid #FFFFFF;
      height: 50px;
      overflow: auto;
      float: left;
      background: #DDDDDD;
      text-align: center; }

div.cai-post-list {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #222;
  padding: 1em; }
  div.cai-post-list .column1 {
    width: 700px;
    float: left; }
  div.cai-post-list .column2 {
    float: right;
    width: 250px;
    overflow: hidden; }
  div.cai-post-list table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%; }
    div.cai-post-list table thead th {
      background: #c3d9ff;
      font-weight: bold; }
    div.cai-post-list table caption, div.cai-post-list table th, div.cai-post-list table td {
      font-weight: normal;
      float: none !important; }
    div.cai-post-list table tbody tr:nth-child(even) td, div.cai-post-list table tbody tr.even td {
      background: #e5ecf9; }
    div.cai-post-list table a {
      color: blue; }

.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.back {
  font-weight: bold;
  background: #CFF;
  color: #00B;
  text-align: center; }

.round2 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.content {
  display: block;
  padding: 0.5em 1em;
  line-height: 1.8em;
  background: #E5ECF9;
  word-wrap: break-word;
  overflow: hidden; }

.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #DDD; }

.red {
  color: red; }

td.right {
  text-align: right; }

.bordered-image {
  display: block;
  border: 5px solid #fff;
  background: #fff no-repeat; }

section.server-error {
  margin-bottom: 3em; }

span.gray {
  color: #777; }

/* Clear Fix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix {
  display: block; }

/* End hide from IE Mac */
/* end of clearfix */
.blue {
  color: blue; }

table.tianyapage {
  width: 100%;
  background: #EEEFFF;
  color: #222;
  border: 1px #ddd solid; }
  table.tianyapage td {
    background: #F5FAFA;
    color: #444; }
  table.tianyapage td.alt {
    text-align: center;
    background: #069;
    font-weight: bold;
    color: white; }
  table.tianyapage a:visited {
    font-family: "宋体";
    font-size: 14px;
    color: gray; }
  table.tianyapage a {
    color: blue; }
