<%- title "最近更新的帖子列表." -%>

<%
    breadcrumb :download, '最近更新的文章'
    meta  :description => "按照最近更新文章排序列表" , :keywords => "最近更新,文章,脱水"
%>
<div class="container">
  <%- if @topics && @topics.length > 0 -%>
    <%= render(:partial => "share/list", :object => @topics) %>
    <%= paginate @topics, :outer_window => 4, :inner_window => 4 -%>
  <%- else -%>
  <p>没有内容。.</p>
  <%- end -%>
</div>
