<%- title "最近加入帖子列表."  -%>

<%
    #for seo
    breadcrumb :list, '最近加入文章'
    meta :description => "按照最近加入文章排序列表" , :keywords => "最近加入,文章,脱水"

%>
<div class="container">

  <%- if @topics && @topics.length > 0 -%>
    <%= render(:partial => "share/list", :object => @topics) %>
    <%= paginate @topics, :outer_window => 4, :inner_window => 4 -%>
  <%- else -%>
  <p>没有内容。.</p>
  <%- end -%>
</div>
