<%- title "回复最多帖子列表." -%>
<%
    #for seo
    breadcrumb :list, '推荐列表'
    meta :description => "按照推荐最多文章排序列表" , :keywords => "推荐最多,文章,脱水"

%>
<div class="container">

  <%- if @topics && @topics.length > 0 -%>
    <%= render(:partial => "share/list", :object => @topics) %>
  <%- else -%>
  <p>没有内容。.</p>
  <%- end -%>
</div>
