<%- title "笑话列表" -%>
         
<%
    #for seo
    breadcrumb :fun_list, '笑话'
    meta :description => "站内笑话，短文，名言，古文，乐哈子" ,
         :keywords => '笑话，短文，名言，古文，乐哈子'

%>

<div id="container" class="index_bg">
<div id="content">
  <div class="title_r">
    <%= breadcrumb :pretext => "<label>当前位置：</label>",
       :separator => ">",
       :autoroot => true,
       :show_root_alone => true,
       :link_last => false %>
  </div>
  <div class="page_view">
    <%- if @funs && @funs.length > 0 -%>
    <%= render @funs -%>
    <%= paginate @funs, :outer_window => 2, :inner_window => 1 -%>
    <%- else -%>
    <p>没有内容。.</p>
    <%- end -%>
  </div>
</div>
<div id="sidebar">

  <div class="title"><h3>分类</h3></div>
  <div class="friend_group" id="related_div">
	<ul id="related1" style="">
		<li class="col" ><em>·</em><a href="/blog">整理中</a></li>
	</ul>
</div>
</div>
</div>
