@charset "utf-8";
#headerAll{min-width:910px;height:80px;margin-bottom:1px;}

#header{
    margin:0 auto;width:904px;height:80px;padding-right:6px;position:relative;z-index:10000;
    #top{
        height:50px;overflow:hidden;
        a.logo{
            width:330px;height:55px;position:absolute;left:0;top:0;
            }
        .right_info{
            float:right;padding:10px 0 0 0;color:#333;text-align:right;
            li{
                float:left;line-height:19px;*line-height:22px;_line-height:19px;display:block;padding:0 0 0 9px;position:relative;
                .cent{
                    height:19px;line-height:19px;margin-left:0;padding:0 3px 0 8px;text-align:center;background-color:#a7cce8;background-repeat:no-repeat;background-position:-550px -161px;
                    .l{
                        color:#f65645;
                        a, a:hover{color:#f65645;text-decoration:none;}
                    }
                    .m{
                        color:#fd9526;
                        a, a:hover{
                            color:#fb8405;text-decoration:none;
                            }
                        }
                    .h{color:#50901d;
                        a{color:#50901d;text-decoration:none;}
                       }

                }
                a{color:#333;}
                b{width:8px;height:4px;margin-left:6px;position:absolute;top:8px;z-index:1;background-repeat:no-repeat;background-position:-903px -135px;}
                .pr{padding-right:15px;cursor:pointer;}
                }
            }
    }
}
#index_top {
    background: url("/assets/blog_back.png") 0 -1px no-repeat;
}
#index_bottom {
    background: url("/assets/blog_back.png") 0 -14px no-repeat;
}
#index_top, #index_bottom {
    margin: 0 auto;
    width: 910px;
    height: 6px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.page_view {
padding: 0 15px 0 25px;
line-height: 24px;
font-size: 14px;
overflow: hidden;
}
.ta_c {text-align: center;}
.f16 {font-size: 16px;}
.mb10 {margin-bottom: 10px;}
.mt10 { margin-top: 10px;}
.tool_list li {
float: left;
width: 249px;
line-height: 17px;
padding: 3px 0 6px;
}
.friend_group {
float: left;
width: 249px;
margin-top: 5px;
position: relative;
     li {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 10px 0 0 1px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .col {
        height: auto;
        color: #266392;
        overflow: visible;
        white-space: normal;
        }
    }
}
#header #menu{float:left;width:750px;height:24px;color:#fff;overflow:hidden;}
#header #menu li{float:left;display:inline;margin-right:30px;}
#header #menu li a{float:left;width:100px;height:24px;display:block;font-size:14px;text-align:center;color:#fff;text-decoration:none;}


#header a.toolbox{float:right;width:112px;height:26px;line-height:26ppx;margin:6px 0 0 0;
    text-align:center;color:#4277a0;cursor:pointer;font-family:"微软雅黑";overflow:hidden;
    background-repeat:no-repeat;background-position:-420px -135px;
}
.toolbox_menu{width:112px;margin:5px 0 0 7px;position:absolute;right:6px;top:88px;z-index:1024;}


#wrapper{min-width:910px;padding-top:10px;overflow:hidden;}
#container{margin:0 auto;width:910px;overflow:hidden;position:relative;}
#content,#content1{float:left;width:620px;overflow:hidden;}#content1{padding-left:5px;}
#sidebar,#sidebar1{float:right;width:250px;padding:15px 20px 0 15px;overflow:hidden;}
#sidebar1{width:285px;padding:0;}
#sidebar h1{float:left;width:209px;height:25px;padding:8px 0 0 11px;margin:30px 0 20px 0;overflow:hidden;background-position:0 -440px;}#sidebar h1 b{float:left;width:70px;height:18px;overflow:hidden;}
#sidebar h1 b.microblog{background-position:0 -482px;}
#sidebar h1 b.classify{background-position:-94px -482px;}
#sidebar h1 b.tags{background-position:0 -507px;}
#sidebar h1 b.links{background-position:-94px -507px;}
#sidebar h1 b.selfabout{background-position:0 -532px;}
#sidebar h1 b.userdetail{background-position:0 -556px;}
#sidebar h1 b.selfmanage{background-position:-94px -532px;}
