@import "partials/shared";

// HTML5
section, header, footer, nav, article, aside, figure {
  display: block;
  //width: 100%;
}

mark, time, meter, progress {
  display: inline;
}

// Tags
html {
  -webkit-font-smoothing: antialiased;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
margin: 0;
padding: 0;
}

address, caption, cite, code, dfn, em, th, var {
font-style: normal;
font-weight: normal;
}
a {
color: #266392;
}
body {
  color: $text-color;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5em;
  background: #F5F9FA;
}

input {
  line-height: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 0px solid transparent;

  
  &:hover {
    border-bottom: 1px solid;
  }
}

strong {
  font-weight: bold;
}
em {
font-family: "宋体";
}

i {
  font-style:italic
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  margin: 0 0 1em;
}

hr {
  margin-bottom: 2em;
  border: 0;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;
  
  a {
    color: #444;
    
    &:hover {
      color: $link-color;
    }
  }
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;
  
  a {
    color: #444;
    
    &:hover {
      color: #2e80d3;
    }
  }
}

pre {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  font-family: $monaco;
  font-size: 13px;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em;
  
  code {
    background-color: $code-background-color;
    border: medium none;
    font-size: 1em;
    padding: 0;
  }
}

code {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  padding: 0 0.2em;
  font-family: $monaco;
  font-size: 0.8em;
}

h1 {
  color: #069;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.25em;
  line-height: 1em;
  
  a {
    color: $red-color;
    border: 0;
  }
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  font-weight: 700;
    
  a {
    color: $text-color;
    border: 0;
  }
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  color: #999;
  font-weight: bold;
  margin-bottom: 0.2em;
}
label {
  font-weight: bold;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

    li{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
}

.title, .title3, .title_r {
clear: both;
_display: inline-block;
padding: 0 0 6px 0;
border-bottom: 1px dotted #CDCDCD;
color: #313131;
position: relative;
overflow: hidden;
}
.title span {
line-height: 16px;
font-size: 75%;
position: absolute;
right: 0;
top: 5px;
font-family: "宋体";
}

.blank5, .blank10, .blank20, .blank30, .blank40, .blank50, .blank60, .blank70, .blank80, .blank90, .blank100 {
clear: both;
height: 3px;
line-height: 0;
font-size: 0;
overflow: hidden;
}
.ml10 {
margin-left: 10px;
}
.right {
float: right;
}
.blank20 {
height: 20px;
}
.mb7 {
margin-bottom: 7px;
}
.title h3 {
height: 17px;
font-size: 14px;
color: #313131;
}
// Content
body > header, body > section, body > footer {
  font-size: 85%;
  width: $width;
  margin: 0 auto;
}

// Header
body > header {
  color: #222;
  margin: 0em auto;
  img {
    border: 0px;
  }
  div.menu{
    float:right;
    line-height: 20px;
    font-size: 80%;
    //border-bottom: 1px solid #000;
    background-image: url("topnav_bg.gif");

    a.nav{
        color:#09C;
        font-weight: bold;
        display:block;
        margin: 0 0.5em;
        float:left;

        &:hover {
        color: $red-color;
        }
    }
  }
  p {
    margin: 0;
    
    a {
      color: #73acd6;

      &:hover {
        color: $link-color;
      }
    }
    a.nav{
      color:blue;
      text-decoration: underline;
      margin-left: 12px;

      &:hover {
        color: $red-color;
      }
    }
  }
}
#headerAll {
    background: url(/assets/header_bg.jpg) left top repeat-x;
}

//wrapper
#wrapper {
    background: white url(/assets/wrapper_bg.jpg) left top repeat-x;
}
.index_bg {
background: url(/assets/index_center.jpg) left top repeat-y;
}
.title_r {
margin: 10px 3px 10px 8px;
border-bottom: 1px dashed #DDD;
font-size: 14px;
text-indent: 2px;
}
#control_pannel{
background: #F7F7F7 none repeat scroll 0 0;
border: 2px solid #EFEFEF;
bottom: 2px;
padding: 1px;
position: fixed;
_position: absolute;
right: 272px;
width: 80px;
font-size: 12px;
    a{
        display: block;
        color: red;
        padding: 2px 4px 2px 4px;
        text-align: center;
        opacity: .30;
        filter: alpha(Opacity=30);
        text-decoration: none;
         &:hover {
            background: #999999;
            color: white;
            text-decoration: none;
            opacity: 1;
            filter: alpha(Opacity=80);
        }
    }
}

// Footer
body > footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: $width;
  color: #aaa;

  font-size: 0.8em;
  text-align: center;
  margin: 3em auto;
  
  a {
    color: #aaa;
    
    &:hover {
      color: $link-color;
    }
  }
  p.link {
    text-align: left;
  }
}

// Partials
@import "partials/pagination";
@import "partials/syntax";
@import "partials/global";

// Pages
@import "pages/home";
@import "pages/fun";
@import "pages/blog";
@import "pages/about";
@import "pages/class";

//模块
@import "pages/topic";
@import "pages/show";



// Misc
.bordered-image {
  @include bordered-image;
}

section.server-error {
  margin-bottom: 3em;
}

span.gray {
  color: #777;
}
/* Clear Fix */

.clearfix:after
{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix
{
display:inline-block;
}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
/* end of clearfix */

.blue{
    color: blue;
}
ul.cai{
    list-style: none; margin:0; padding: 0;

    li.caied{
      margin-top: 1em;margin-left: 1em;
      border-bottom: 1px solid #DDD;
      overflow: hidden; zoom: 1;
      float: left;
      background: #C3D9FF;
      text-align: center;
    }
    li.nocai {
      margin-top: 1em;
      margin-left: 1em;
      border-bottom: 1px solid #DDD;
      overflow: hidden; zoom: 1;
      float: left;
      background: #ddd;
      text-align: center;
    }
}

#a1{
    background: white;
    height: 80px;
}
#topall{
    background: #EEE;
    margin-bottom: 8px;
    display:block;
    height: 20px;
    line-height: 20px;
    font-size: 75%;

    .top_left{ display: block; float:left;}
    .top_right{display: block; float:right;}

}

#nav{
    height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #007AC4 ;
    clear: both;
    border-radius: 3px;
    ul{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin: 0;
            float: left;
            background: url(/assets/nav_li.gif) right no-repeat;
            padding: 0 5px;
            position: relative;

            a{
                margin: 0;
                padding: 0;
                display: block;
                height: 30px;
                line-height: 30px;
                width: 77px;
                text-align: center;
                color: white;
                text-decoration: none;

                &:hover {
                    border-bottom: 0px solid;
                }
            }
        }
    }

    .current-menu-item a, .current-menu-parent a {
        font-weight: 700;
        color: #017DC8;
        background: white url(/assets/nav_hover.png) no-repeat;

        &:hover {
            border-bottom: 0px solid;
        }
     }

}
#top{
    float:left;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 200px;
    font-weight: bolder;
    clear:right;
    a.logo {
        font-size: 2em;
        color: #266392;
        line-height: 1.1em;

        position: absolute;
        left: 0;
        top: 0;

        }
    span{
        font-size: 80%;
        color: red;
        margin:0 ;
        padding: 0;

    }
}
#top-center{
    float:left;
    height: 50px;
}
#search{
    display:block;
    float: right;

    form{
        display: block;

        height: 26px;

    }
    .su{
        float: right;
        width: 60px;
        height: 23px;

        cursor: pointer;
    }
    .q{
        float: right;
        width: 300px;
        height: 23px;
        padding: 0px 10px 0 7px;
        border: 1px solid #DDD;
        background: white ;

    }
    span{
        display:block;
        height: 22px;
        float:right;
        font-size:75%;
        color: gray;
    }
}

table.tianyapage{
    width: 100%;
    background: #EEEFFF;
    color: #222;
    border: 1px #ddd solid;
    td {
        background: #F5FAFA;
        color: #444;
    }
    td.alt {
        text-align: center;
        background: #069;
        font-weight: bold;
        color: white;
    }

    a:visited {
        font-family: "宋体";
        font-size: 14px;
        color: gray;
    }
    a{
        color: blue;
    }
}

section.easycai{

}