@import "partials/shared";

// HTML5
section, header, footer, nav, article, aside, figure {
  display: block;
  //width: 100%;
}

mark, time, meter, progress {
  display: inline;
}

// Tags
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5em;
  background: #F5F9FA;
}

input {
  line-height: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 0px solid transparent;

  
  &:hover {
    border-bottom: 1px solid;
  }
}

strong {
  font-weight: bold;
}

em {
  background-color: $highligh-color;
  padding: 0 0.1em;
}

i {
  font-style:italic
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  margin: 0 0 1em;
}

hr {
  margin-bottom: 2em;
  border: 0;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;
  
  a {
    color: #444;
    
    &:hover {
      color: $link-color;
    }
  }
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;
  
  a {
    color: #444;
    
    &:hover {
      color: #2e80d3;
    }
  }
}

pre {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  font-family: $monaco;
  font-size: 13px;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em;
  
  code {
    background-color: $code-background-color;
    border: medium none;
    font-size: 1em;
    padding: 0;
  }
}

code {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  padding: 0 0.2em;
  font-family: $monaco;
  font-size: 0.8em;
}

h1 {
  color: #069;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.25em;
  line-height: 1em;
  
  a {
    color: $red-color;
    border: 0;
  }
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  font-weight: 700;
    
  a {
    color: $text-color;
    border: 0;
  }
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  color: #999;
  font-weight: bold;
  margin-bottom: 0.2em;
}
label {
  font-weight: bold;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

    li{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
}
// Content
body > header, body > section, body > footer {
  font-size: 85%;
  width: $width;
  margin: 0 auto;
}

// Header
body > header {
  color: #222;
  margin: 2em auto 1em;
  img {
    border: 0px;
  }
  div.menu{
    float:right;
    line-height: 20px;
    font-size: 80%;
    //border-bottom: 1px solid #000;
    background-image: url("topnav_bg.gif");

    a.nav{
        color:#09C;
        font-weight: bold;
        display:block;
        margin: 0 0.5em;
        float:left;

        &:hover {
        color: $red-color;
        }
    }
  }
  p {
    margin: 0;
    
    a {
      color: #73acd6;

      &:hover {
        color: $link-color;
      }
    }
    a.nav{
      color:blue;
      text-decoration: underline;
      margin-left: 12px;

      &:hover {
        color: $red-color;
      }
    }
  }
}

// Footer
body > footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: $width;
  color: #aaa;

  font-size: 0.8em;
  text-align: center;
  margin: 3em auto;
  
  a {
    color: #aaa;
    
    &:hover {
      color: $link-color;
    }
  }
  p.link {
    text-align: left;
  }
}

// Partials
@import "partials/pagination";
@import "partials/syntax";

// Pages
@import "pages/home";
@import "pages/fun";
@import "pages/blog";
@import "pages/about";
@import "pages/class";

//模块
@import "pages/topic";
@import "pages/show";



// Misc
.bordered-image {
  @include bordered-image;
}

section.server-error {
  margin-bottom: 3em;
}

span.gray {
  color: #777;
}
/* Clear Fix */

.clearfix:after
{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix
{
display:inline-block;
}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
/* end of clearfix */

.blue{
    color: blue;
}
ul.cai{
    list-style: none; margin:0; padding: 0;

    li.caied{
      margin-top: 1em;margin-left: 1em;
      border-bottom: 1px solid #DDD;
      overflow: hidden; zoom: 1;
      float: left;
      background: #C3D9FF;
      text-align: center;
    }
    li.nocai {
      margin-top: 1em;
      margin-left: 1em;
      border-bottom: 1px solid #DDD;
      overflow: hidden; zoom: 1;
      float: left;
      background: #ddd;
      text-align: center;
    }
}

#nav{
    width: 950px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #007AC4 url(/assets/bg-navi.png) 0 0 no-repeat;
    clear: both;

    ul{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin: 0;
            float: left;
            background: url(/assets/nav_li.gif) right no-repeat;
            padding: 0 5px;
            position: relative;

            a{
                margin: 0;
                padding: 0;
                display: block;
                height: 30px;
                line-height: 30px;
                width: 77px;
                text-align: center;
                color: white;
                text-decoration: none;

                &:hover {
                    border-bottom: 0px solid;
                }
            }
        }
    }

    .current-menu-item a, .current-menu-parent a {
        font-weight: 700;
        color: #017DC8;
        background: white url(/assets/nav_hover.png) no-repeat;

        &:hover {
            border-bottom: 0px solid;
        }
     }

}

#search{
    margin-top: 0px;
    float: right;
    padding-right:10px;

    .su{
        float: left;
        width: 78px;
        height: 34px;
        border: none;
        background: white url(/assets/bg-search-submit.png) 0 0 no-repeat;
        cursor: pointer;
    }
    .q{
        float: left;
        width: 260px;
        height: 26px;
        padding: 8px 10px 0 7px;
        border: none;
        background: white url(/assets/bg-search-text.png) 0 0 no-repeat;

    }
}

table.tianyapage{
    width: 100%;
    background: #EEEEEE;
    color: #222;

    a:visited {
    font-family: "宋体";
    font-size: 14px;
    color: gray;
}
    a{
        color: blue;
    }
}