.pagination {
  li { display:none; }
  li.active,
  li.prev,
  li.first,
  li.last,
  li.next { display:inline; }
  li.active { border:none;
    a {
      background:#F0F0F0;
      color:#666;
    }
  }
}
