$screen-lg: 2600px !default;

@import "bootstrap";
.navbg{
  background: #007AC4;
  margin-bottom: 0;
}
.ntop {
  margin-top: 10px;
}
.navbar-default{
  border-color: #EEE;
  border: none;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-nav  li  a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-brand {
  padding: 5px;
  height: 30px;

}
cite {
  display: none;
  text-indent: -999px;
}
.navbar {
  min-height: 20px;
  margin-bottom: 10px;
}
.content {
  display: block;
  padding: 0.5em 1em;
  line-height: 1.8em;
  background: #E5ECF9;
  word-wrap: break-word;
  overflow: hidden;
}
.pagebg {
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #DEDEDE;
}
.pagination {
  margin: 0;
}
ul.tlist{
  padding: 5px;
  li.caied{
    border: 5px solid #FFFFFF;
    height: 50px;
    overflow: auto;
    float: left;
    background: #C3D9FF;
    text-align: center;
  }
  li.nocai {
    border: 5px solid #FFFFFF;
    height: 50px;
    overflow: auto;
    float: left;
    background: #DDDDDD;
    text-align: center;
  }
}
a.red{
  color: red;
}
