<%
    #for seo
    breadcrumb :list,  '作者：'<< params[:name]
    meta :title => "作者：#{params[:name]}_文章列表.", :description => "作者：'#{params[:name]}'发布的文章列表" , :keywords => "#{params[:name]}"

%>
<div class="container">

  <%- if @topics && @topics.length > 0 -%>
    <%= render(:partial => "share/list", :object => @topics) %>
    <%= paginate @topics, :outer_window => 4, :inner_window => 4 -%>
  <%- else -%>
  <p>没有内容。.</p>
  <%- end -%>
</div>
