<%- title "天涯易读 列表" -%>

<%
    #for seo
    breadcrumb :tysq_list, @topics
    meta :title => "热贴列表", :description => "天涯社区热贴列表" , :keywords => "天涯易读"

%>
<div class="container">

  <%- if @topics && @topics.length > 0 -%>
    <%= render(:partial => "share/list", :object => @topics) %>
    <%= paginate @topics, :outer_window => 4, :inner_window => 4 -%>
  <%- else -%>
  <p>没有内容。.</p>
  <%- end -%>
</div>
