<%- content_for :pre_content do -%>
<div id="headerAll">
  <div id="header">
    <div id="top">
        <a class="logo" href="/"><cite>乐哈子 脱水吧<br>采集工具 只看楼主</cite></a>
        <div class="right_info">
          <ul>
            <li id="header_login"><a href="javascript:alert_login();">登录</a></li>
            <li><a href="http://support.qq.com/discuss/387_1.shtml" target="_blank" onclick="sendHotClick('HEADER.TO.FEEDBACK');">反馈意见</a></li>
            <li class="pr"><a href="javascript:;" onmouseover="ShowSubMenu('site_map_menu');" onmouseout="HideSubMenu('site_map_menu');">站点地图<b></b></a></li>
          </ul>
          <form action="<%= search_path %>"  method = "get"   target = "_blank">
            <%= text_field_tag(:q , '', :class => "q", value: "输入天涯社区、贴吧文章、豆瓣网址")  %>
            <%= submit_tag("搜索", :class => "su") %>
          </form>
        </div>
    </div>
    <div id="menu">
      <ul>
        <li id="menu_index"><a class="m1" href="/cn2/index"><cite>首页</cite></a></li>
        <li id="menu_account_prot" class=""><a class="m2" href="/cn2/safe_service/my_prot" onmouseover="ShowSubMenu('submenu_account_prot');" onmouseout="HideSubMenu('submenu_account_prot');"><cite>帐号保护</cite></a></li>
        <li id="menu_pwd_manage"><a class="m3" href="/cn2/psw_mgr/psw_mgr_index" onmouseover="ShowSubMenu('submenu_pwd_manage');" onmouseout="HideSubMenu('submenu_pwd_manage');"><cite>密码管理</cite></a></li>
        <li id="menu_safe_mutual" class="on4"><a class="m4" href="/cn2/safe_school/safe_school_index" onmouseover=""><cite>安全学堂</cite></a></li>
      </ul>
    </div>
    <a class="toolbox"></a>
  </div>
</div>

<div id="wrapper">
  <div id="index_top"></div>
<%- end -%>



<%- content_for :after_content do -%>
  <div id="index_bottom"></div>
</div>
<div id="footer">
  <p><a href="http://www.lehazi.com/" target="_blank">关于乐哈</a>|<a href="http://www.lehazi.com/" target="_blank">About Lehazi</a>|<a href="http://www.lehazi.com/contract" target="_blank">服务条款</a>|<a href="http://www.lehazi.com/" target="_blank">问题反馈<span id="debug"></span></a></p>
  <p>Copyright © 2011 - 2012 Lehazi. All Rights Reserved </p>
  <p>乐哈子 版权所有</p>
</div>
<%- end -%>
<%= render :file => "layouts/abstract" -%>