<%- content_for :pre_content do -%>
<header>
<style type="text/css">
table
{
  border-collapse:collapse;
}
table, td, th
{
  border:1px solid gray;
}
</style>

</header>
<section class="easycai clearfix">
<%- end -%>

<%- content_for :after_content do -%>
</section>
<%- end -%>
<%= render :file => "layouts/abstract" -%>
