<%- content_for :pre_content do -%>
<header>
</header>
<section class="easycai clearfix">
<%- end -%>

<%- content_for :after_content do -%>
</section>
<%- end -%>
<%= render :file => "layouts/abstract" -%>